/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #000;
}

.parallax-container {
  position: relative;
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: #A71414 ;
  width: 100%;
}
.parallax-container2 {
  position: relative;
  min-height: 452px;
  line-height: 0;
  height: auto;
  color: #FFFFFF ;
  width: 100%;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: relative;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#package_pic_r{
  float: left;
  height: 40%;
  width: 40%;
  clear: both;

  padding-bottom:5%;
}
#package_h1_r{
  float: right;
  padding-right: 15%;
}
#package_text_r{
  clear: right;
  padding-right: 10%;
  padding-left: 50%;
}
#package_pic_l{
  float: right;
  height: 40%;
  width: 40%;
  margin-right: 10%;
  clear:both;
  padding-bottom: 5%;

}
#package_h1_l{
  float: left;
  padding-right: 15%;
}
#package_text_l{
  clear: left;

  padding-right: 55%;
}
